:root {
  --main-purple: #3f2496;
  --main-font-color: #160a3d;
  --dark-theme-font-color: #f7f0fb;
  --main-font-style: sans-serif;
  --placeholder-font-color: #160a3d55;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.container {
  padding: 0 3vw;
  margin-bottom: 2vh;
}
